import os
import numpy as np
import cv2
import matplotlib.pyplot as plt
from glob import glob
from sklearn.metrics import roc_curve, accuracy_score, classification_report, roc_auc_score
from tensorflow.keras.applications import MobileNetV2
from tensorflow.keras.layers import GlobalAveragePooling2D, Dropout, Dense
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
from EyeClassifier import OpenEyesTrainer
from eer import compute_eer